body {
  margin: 0;
  color: #fff;
  background-color: #49455f;

  min-height: 100vh;
  line-height: 1.1;
}

.content {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  font-family: cursive;
  font-style: italic;
}

.div-background-input {
  display: flex;
  justify-content: center;
  gap: 10px;
}

form {
  display: flex;
  background-color: #625d93;
  gap: 15px;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  justify-content: center;
}
ul {
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-left: 35%;
}

.my-todo-list-style {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  background-color: #5a5877;
  border-radius: 10px;
  width: 30%;
  padding-bottom: 15px;
  padding-top: 15px;
  box-shadow: 10px 10px 10px 5px #353447;
}

li {
  display: flex;
  width: 350px;
  height: 30px;
  background-color: rgba(40, 39, 76, 0.51);
  padding: 10px;
  border-radius: 10px;
  list-style: circle;
  gap: 200px;
}
.item {
  display: flex;
  width: 30%;
}
li div {
  display: flex;
  flex-direction: column;
}

.button-img {
  border-radius: 10px;
  border: none;
  background: transparent;
  cursor: pointer;
}
.button-img-space {
  display: flex;
  flex-direction: row;
}
